<!-- first change in file. -->
<h1>{{title}}</h1>

<app-login></app-login>
<!-- <h1>{{data}}</h1> interpolation get dynamic data -->

<!-- <h1>{{getValue()}}</h1> get dynamic function data -->

<!-- function call -->

<!-- <button (click)="getName('anil')">click me</button> -->

<!-- events -->

<!-- <button (click)="getData('anil')">call function</button>
<br>
<br>
<input type="text" #box placeholder="event keyup" (keyup)="getData(box.value)">
<input type="text" #box1 placeholder="event keydown" (keydown)="getData(box1.value)">
<input type="text" #box2 placeholder="event blur" (blur)="getData(box2.value)">
<input type="text" #box3 placeholder="event input" (input)="getData(box3.value)">

<h1 (mouseover)="getData('over')"> Hello</h1>
<h1 (mouseleave)="getData('leave')"> World</h1> -->

<!-- Get Text value and print -->

<!-- <input type="text" #box placeholder="Enter Name" name="name">
<button (click)="getValue(box.value)">Click me</button>
<p>{{displayVal}}</p> -->

<!-- make a counter -->

<!-- <button (click)="counter('add')">+</button>
<p>{{count}}</p>
<button (click)="counter('sub')">-</button> -->

<!-- Property Binding -->
<!-- 
<input type="text" placeholder="Interpolation" value="{{name}}" disabled>
<br>
<br>
<input type="text" placeholder="Property Binding" [value]="name" [disabled]=disable> -->

<!-- if else condition   -->

<!-- <h1 *ngIf="show;else elseBlock">If Else Condition</h1>
<ng-template #elseBlock>
    <h1>Else condition</h1>
</ng-template> -->

<!-- Multiple Conditions and else if condition -->

<!-- <ng-template [ngIf]="color==='red'">
    <h1 style="color: red;">Red Color</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
    <h1 style="color: green;">Green Color</h1>
</ng-template> -->

<!-- Switch case -->

<!-- <div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
    <h1 *ngSwitchCase="'green'" style="color: green;">green Color</h1>
</div> -->

<!-- Loops in angular -->